<%- include("header")%>
<table class="table" id="wishlist-table">
	<thead>
		<th>#</th>
		<th>name</th>
		<th>image</th>
		<th>delete</th>
	</thead>
	<tbody>
		<% if(products){ %> <% products.forEach((product,index)=>{%>
		<tr>
			<td><%= index%></td>
			<td><%= product.productId.name%></td>
			<th>
				<img
					src="/uploads/<%=product.productId.image%>"
					width="100"
					height="100"
					alt=""
				/>
			</th>
			<td>
				<button class="delete-wishlist-product" product-id="<%= product._id%>">
					delete
				</button>
			</td>
		</tr>
		<%})%> <%}%> <%- include("footer")%>
	</tbody>
</table>
